# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker volumes
data/
logs/

# Airflow
airflow/logs/
airflow/plugins/

# MinIO data
minio-data/

# Project internal
PHASES.md
